.button { 
  font-family: $font-primary;
  font-size: 1em;
  letter-spacing: 0.06em;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  border: 0.063em solid $color-white;
  display: inline-block;
  position: relative;
  transition: opacity $hover-duration;
  -webkit-backface-visibility: hidden;

  .no-touchevents &:hover,
  .touchevents &:active {
  	opacity: $hover-opacity;
  }

  &--arrow:after {
  	content: "";
		width: 0.625em;
		height: 0.625em;
		border-left: 0.125em solid $color-white;
		border-bottom: 0.125em solid $color-white;
		position: absolute;
		transform: rotate(-45deg);
		top: 6em;
		left: 48%;
		transition: opacity $hover-duration;
    -webkit-backface-visibility: hidden;

    @include breakpoint(landscape) {
      display: none;
    }

    @include breakpoint(medium) {
      top: 8em;

       @include breakpoint(landscape) {
        display: block;
        top: 4em;
      }
    }

    @include breakpoint(large) {
      @include breakpoint(landscape) {
        top: 8em;
      }
    }
  }

  .no-touchevents &--arrow:hover:after,
  .touchevents &--arrow:active:after {
  	opacity: $hover-opacity;
  }

  &--black {
    color: $color-black;
    border-color: $color-black;
  }

  @include breakpoint(medium) {
    font-size: 1.143em;
  }
}