.form {
  width: 85%;

  label {
    display: block;
    font-size: rem-calc(14);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  &__field-container {
    @include clearfix;

    float: left;

    &--name, &--email {
      width: 42%;
    }

    &--email {
      float: right;
    }

    &--message {
      padding-top: rem-calc(56);

      @include clearfix;

      width: 100%;
    }
  }

  &__input, &__textarea {
    width: 100%;
    display: block;
    background-color: $color-form;
    border: none;
    border-top: rem-calc(1) solid $color-black;
    line-height: rem-calc(35);

    &:focus {
      outline: none;
    }
  }

  &__textarea {
    resize: none;
  }

  &__button {
    float: right;
    background: none;
    border: none;
    font-size: rem-calc(14);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 1em;
    margin-top: 3em;
    padding-right: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}