.partners {
	background-color: $color-partners;
	font-family: $font-primary;
	padding-bottom: rem-calc(40);
	font-size: rem-calc(30);

	@include breakpoint (medium) {
		padding-bottom: rem-calc(60);
	}

	@include breakpoint (large) {
		padding-bottom: rem-calc(90);
	}

	&__header {
		font-size: 0.7em;
		margin-top: 2.5em;
		margin-bottom: 1.5em;
		color: $color-white;
		font-weight: 300;
		letter-spacing: 0.06em;

		@include breakpoint(medium) {
			font-size: 1em;
			margin-bottom: 2.5em;
		}

		@include breakpoint(large) {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	&__partner {
		@include grid-column(6);
		text-align: center;
		margin-bottom: rem-calc(30);

		&--last {
			padding-top: rem-calc(5);
		}

		@include breakpoint(medium) {
			@include grid-column(2);
			text-align: left;

			&--first {
				@include grid-column-offset(2)
			}

			&--last {
				@include grid-column-end;
				padding-top: rem-calc(5);
			}
		}
	}

	&__partner-img {
		padding-left: rem-calc(15);
		opacity: 1;
		transition: opacity $hover-duration;
		-webkit-backface-visibility: hidden;

		.no-touchevents &:hover,
    .touchevents &:active {
			opacity: $hover-opacity;
		}
	}
}