.promo {
  background-color: $color-promo;
  font-family: $font-primary;
  color: $color-white;
  text-align: center;
  overflow: hidden;
  font-size: rem-calc(14);
  padding-bottom: 40%;
  padding-top: 20%;

  @include breakpoint(landscape) {
    padding-top: 5%;
    padding-bottom: 10%;
  }


  @include breakpoint(medium) {
    padding-top: 30%;

    @include breakpoint(landscape) {
      padding-top: 7%;
      padding-bottom: 15%;
    }
  }


  @include breakpoint(large) {
    padding-top: 30%;

    @include breakpoint(landscape) {
      padding-top: 10%;
      padding-bottom: 20%;
    }
  }


  &__header {
    letter-spacing: 0.16em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 8%;
    font-size: 2.429em;

    @include breakpoint(landscape) {
      margin-bottom: 6%;
      margin-top: 3%;
    }


    @include breakpoint(large) {
      margin-bottom: 2%;
      margin-top: 4%;
    }
  }

  &__header:after {
    content: "";
    width: 3.088em;
    border-bottom: 0.059em solid $color-white;
    display: block;
    margin: 0 auto;
    margin-top: 1em;

    @include breakpoint(large) {
      margin-top: 3%;
    }
  }

  &__tagline {
    font-size: rem-calc(14);
    letter-spacing: 0.06em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 15%;
    font-size: 1em;

    @include breakpoint(landscape) {
      display: none;
    }


    @include breakpoint(medium) {
      @include breakpoint(landscape) {
        display: none;
      }
    }


    @include breakpoint(large) {
      margin-bottom: 6%;

      @include breakpoint(landscape) {
        display: block;
      }
    }
  }
}