.quality {
  @include grid-column(4);

  font-family: $font-primary;
  text-align: center;
  padding-bottom: rem-calc(10);

  &__header {
    font-size: rem-calc(26);
    font-weight: 400;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 0;
    margin-bottom: 1em;

    &:before {
      content: "";
      width: rem-calc(88);
      height: rem-calc(88);
      border: rem-calc(2) solid $color-quality;
      display: block;
      border-radius: 50%;
      margin-bottom: rem-calc(50);
      margin-left: auto;
      margin-right: auto;
      background-image: url(../img/sprite.png);
    	background-repeat: no-repeat;
    	box-sizing: content-box;
    }

    &--responsive:before {
    	background-position: 0px 0;
    }

    &--minimalist:before {
    	background-position: -88px 0;
    }

    &--freebies:before {
    	background-position: -176px 0;
    }
  }

  &__info {
  	color: $color-text-lighten;
		font-size: rem-calc(14);
		font-weight: 300;
		line-height: 1.857em;
  }
}