.quality {
  @include grid-column(12);

  @include breakpoint(medium) {
    @include grid-column(6);

    &--last {
      @include grid-column-offset(3);
      @include grid-column-end;
    }
  }

  @include breakpoint(large) {
    @include grid-column(4);
    @include grid-column-offset(0);
  }

  font-family: $font-primary;
  text-align: center;
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(30);

  &__header {
    font-size: rem-calc(26);
    font-weight: 400;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 0;
    margin-bottom: 1em;

    &:before {
      content: "";
      width: 88px;
      height: 88px;
      border: 2px solid $color-quality;
      display: block;
      border-radius: 50%;
      margin-bottom: rem-calc(30);
      margin-left: auto;
      margin-right: auto;
      background-image: url(../img/sprite.png);
    	background-repeat: no-repeat;
    	box-sizing: content-box;

      @include breakpoint(large) {
        margin-bottom: rem-calc(50);
      }
    }

    &--responsive:before {
    	background-position: 0px 0;
    }

    &--minimalist:before {
    	background-position: -88px 0px;
    }

    &--freebies:before {
    	background-position: -176px 0px;
    }
  }

  &__info {
  	color: $color-text-lighten;
		font-size: rem-calc(14);
		font-weight: 300;
		line-height: 1.857em;
  }
}