.section-header-block {
	@include grid-column(12);
	@include grid-column-position(center);
	
	font-family: $font-primary;
	text-align: center;
	margin-bottom: rem-calc(40);

	@include breakpoint (medium) {
		margin-bottom: rem-calc(55);
	}

	@include breakpoint (large) {
		margin-bottom: rem-calc(70);
	}

	&__header {
		font-size: rem-calc(34);
		font-weight: 700;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: $color-black;
		margin-top: 0;
		margin-bottom: 1em;

		&:after {
			content: "";
			width: 2.353em;
	  	border-bottom: 0.029em solid $color-black;
	  	display: block;
	  	margin: 0 auto;
	  	margin-top: 1em;
		}
	}

	&__info {
		color: $color-text-lighten;
		font-size: rem-calc(14);
		font-weight: 300;
		line-height: 1.857em;
	}

	@include breakpoint (medium) {
		@include grid-column(8);
		@include grid-column-position(center);
	}
}