.social-icons {
  text-align: center;
  padding-left: 0;

  @include breakpoint (large) {
    text-align: left;
  }

  li {
    display: inline-block;
    margin-right: rem-calc(13);
    margin-left: rem-calc(13);

    @include breakpoint (large) {
      margin-left: 0;
    }
  }

  &__icon {
    height: 22px;
    background-image: url("../img/sprite.png");
    background-position-y: -88px;
    display: block;

    .no-touchevents &:hover,
    .touchevents &:active {
    	opacity: $hover-opacity;
    }

    &--google {
      width: 17px;
      background-position-x: -4px;
    }

    &--facebook {
      width: 12px;
      background-position-x: -35px;
    }

    &--behance {
      width: 21px;
      background-position-x: -61px;
    }

    &--dribble {
      width: 16px;
      background-position-x: -98px;
    }
  }
}