//Fonts
$font-primary: 					"Lato", sans-serif;
$font-secondary: 				"Source Sans Pro", sans-serif;

//Colors
$color-white: 					#ffffff;
$color-black: 					#000000;
$color-promo:						#797979;
$color-portfolio:				#f0f0f0;
$color-quality:					#f0f0f0;
$color-border:					#f2f2f2;
$color-partners:				#444444;
$color-form:						#f8f7f7;
$color-text:						#3c3c3c;
$color-text-lighten:		#a4a4a4;
$color-secondary:				#ada074;
$color-footer:					#3c3c3c;

//Numbers
$hover-duration:				0.2s;
$hover-opacity:					0.7;